// 全局窗口规则
window-rule {
    // 圆角
    geometry-corner-radius 8
    // 去掉超出圆角的窗口内容
    clip-to-geometry true
    // 全局透明度
    //opacity 0.97
    // 禁止边框画到背景里
    draw-border-with-background false
}

window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id="nm-connection-editor"
    match app-id="steam" title="Friends List"
    match app-id="blueman-manager"
    match app-id="com.github.hluk.copyq"
     match app-id="org.pulseaudio.pavucontrol" title="音量控制"
     match app-id="fcitx" title="Fcitx5 Input Window"
    match app-id="org.gnome.FileRoller"
    match title="群聊的聊天记录"
    match title="聊天记录"
    match title="日历"
    match title="重命名"
    match app-id="btrfs-assistant"
    match title="Steam 设置"
    match title="图片查看器"
    match title="画中画"
    match title="图片和视频"
    match title="视频播放器"
    open-floating true
}



