// 全局窗口规则
window-rule {
    // 圆角
    geometry-corner-radius 8
    // 去掉超出圆角的窗口内容
    clip-to-geometry true
    // 全局透明度
    //opacity 0.97
    // 禁止边框画到背景里
    draw-border-with-background false
}

window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id="nm-connection-editor"
    match app-id="steam" title="Friends List"
    match app-id="blueman-manager"
    match app-id="com.github.hluk.copyq"
     match app-id="org.pulseaudio.pavucontrol" title="音量控制"
     match app-id="fcitx" title="Fcitx5 Input Window"
    match app-id="org.gnome.FileRoller"
    match title="群聊的聊天记录"
    match title="聊天记录"
    match title="日历"
    match title="重命名"
    match app-id="btrfs-assistant"
    match title="Steam 设置"
    match title="图片查看器"
    match title="画中画"
    match title="图片和视频"
    match title="视频播放器"
    open-floating true
}

window-rule {
    // 1. 匹配程序
    // 在 Wayland 环境中，通常使用 app-id 来替代 X11 的 class。
    // 如果匹配不到，建议在应用打开时运行 `niri msg windows` 确认其准确的 app-id。
    match app-id=r#"^win11-clipboard-history-bin$"#
    
    // 2. 强制作为悬浮窗口打开
    open-floating true
    
    // 3. 设置窗口的固定尺寸大小 (宽 400，高 500)
    default-column-width { fixed 400; }
    default-window-height { fixed 500; }
}


// 鸣潮主游戏窗口：启动时自动全屏
window-rule {
    match app-id="steam_proton" title=r#"^鸣潮"#
    
    // 强制自动全屏
    //open-fullscreen true
    
    // 如果你更希望最大化
     open-maximized true
}

window-rule {
    match app-id="steam_proton" title=r#"^异环"#
    
    // 强制自动全屏
    open-fullscreen true
    
    // 如果你更希望最大化
    // open-maximized true
}

// osu 
window-rule {
    match app-id="osu!"
    
    // 强制自动全屏
    //open-fullscreen true
    
    // 如果你更希望最大化
     open-maximized true
}



