layout {
    focus-ring {
        active-gradient from="#83d2e3" to="#bcc5eb" angle=135
        urgent-color "#ffb4ab"
    }
}

recent-windows {
    highlight {
        active-color "#004e5a"
        urgent-color "#ffb4ab"
    }
}
